/* CSS Document */
@import url('https://fonts.googleapis.com/css2?family=Italiana&family=Nunito&display=swap');
* {
  padding: 0;
  margin: 0 auto;
}


:root {
  --c-primary: #7992a1;
  --c-white: #ffffff;
  --c-neutral-white: #f3f3f3;
  --c-blue-text: #142052;
  /* --c-blue: #142052;
  --c-red: #F12D2D; */
  --c-black-text: #000000;
  --c-light-grey: #b6b6b6;
  --c-primary-text: #404040;
  /* --c-dark-grey: #4F4F4F;
  
  --c-secondary-text: #2D2D2D;*/
  --c-semi-grey: #6f6f6f; 

  --ff-primary: 'Italiana', serif;
  --ff-secondary: 'Nunito', sans-serif;
}


ul {
  margin: 0;
  padding: 0;
}

ul[role="list"] {
  list-style-type: none;
}

li {
  list-style: none;
}

a:focus, a:hover {
  outline: none;
}

a {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

p {
  margin: 0;
  padding: 0;
  font-size: 14px;
  color: var(--c-black-text);
  line-height: 18px;
  font-weight: 400;
}

body {
  font-family: var(--ff-secondary);
  font-weight: 400;
  font-size: 14px;
  color: var(--c-primary-text);
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--ff-primary);
  font-weight: 400;
  color: var(--c-blue-text);
  margin-bottom: 0;
}

/*** Utility Classes ***/

.custom-pad {
  padding: 60px 0;
}

/*
        font-family: 'Exo', sans-serif;

    font-family: 'Libre Baskerville', serif;
*/

.container {
  width: 100%;
  max-width: 1440px;
}

.custom-button {
  display: inline-flex;
  
  background-color: var(--c-white);
  border: 1px solid var(--c-black-text);
  align-items: center;
  justify-content: center;
  font-family: var(--ff-primary);
  font-size: 17px;
  color: var(--c-black-text);
  box-shadow: 6px 6px 0px rgb(0, 0, 0);
  padding: 11px 33px 11px 17px;
}

.custom-button span {
  padding-left: 46px;
  position: relative;
}

.custom-button span::before {
  position: absolute;
  content: '';
  width: 1px;
  height: 29px;
  background-color: var(--c-black-text);
  left: 39%;
  top: 50%;
  transform: translateY(-50%);
}

/*=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+dp-toggle-nav-css-start=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+*/
.navbar-default .navbar-toggler .icon-bar {
  background-color: #fff;
}

.navbar-toggler .icon-bar {
  display: block;
  width: 22px;
  height: 2px;
  border-radius: 1px;
}

.navbar-default .navbar-toggler .icon-bar {
  background-color: #fff;
}

.navbar-default .navbar-toggler {
  border-color: #5f4b8b;
  background: #5f4b8b;
  outline: none;
}

.navbar-toggler {
  position: relative;
  float: right;
  padding: 9px 10px;
  margin-top: 8px;
  margin-right: 15px;
  margin-bottom: 8px;
  background-color: transparent;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
}

.navbar-toggler .icon-bar {
  display: block;
  width: 22px;
  height: 2px;
  border-radius: 1px;
}

.navbar-toggler .icon-bar + .icon-bar {
  margin-top: 4px;
}

.navbar-toggler .icon-bar + .icon-bar {
  margin-top: 4px;
}

.navbar-header {
  display: none;
}

/*=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+dp-toggle-nav-css-end=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+*/

/*=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+ HEADER SECTION START =+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+*/

/****** Header Top ******/

/* header socials left */
.custom-header .header-top .header-top-content  .header-top-socials li {
  
  display: flex;
  align-items: center;
}
.custom-header .header-top .header-top-content  .header-top-socials li:not(:last-child) {
  margin-right: 26px;

}
.custom-header .header-top .header-top-content  .header-top-socials li .header-top-icon-left {
  color: var(--c-light-grey);
  transition: all 0.5s ease-in-out;
}
.custom-header .header-top .header-top-content  .header-top-socials li .header-top-icon-left:hover {
  color: var(--c-primary);
}
.custom-header .header-top .header-top-content  .header-top-socials li .header-top-icon-left i {
  font-size: 17px;
}
/* header socials left */
/**/
/* header contact right */
.custom-header .header-top .header-top-content .header-top-contact li:not(:last-child) {
  margin-right: 45px;
}
.custom-header .header-top .header-top-content .header-top-contact li a p {
  color: var(--c-semi-grey);
  font-size: 14px;
}
.custom-header .header-top .header-top-content .header-top-contact li .header-top-icon-right i {
  font-size: 16px;
}
.header-top-icon-right {
  margin-right: 12px;
  color: var(--c-primary);
}

/* header contact right */

/****** Header Top ******/

/****** Header Bottom ******/

.custom-header .header-bottom {
  background-color: var(--c-neutral-white);
  padding: 32px 0;
}
.custom-header .header-bottom .navbar .navbar-nav .nav-item:not(:last-child) {
  margin-right: 45px;
}
.custom-header .header-bottom .navbar .navbar-nav .nav-item {
  position: relative;
}
.custom-header .header-bottom .navbar .navbar-nav .nav-item::before {
  position: absolute;
  content: '';
  width: 0%;
  height: 5px;
  background-color: var(--c-primary);
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  border-radius: 50px;
  transition: all 0.5s ease-in-out;
}
.custom-header .header-bottom .navbar .navbar-nav .nav-item:hover::before {
  width: 100%;
  
}
.custom-header .header-bottom .navbar .navbar-nav  .nav-item .nav-link {
  font-weight: 700;
  font-size: 16px;
  line-height: 52px;
  color: var(--c-black-text);
  padding: 0 4px;
}
.custom-header .header-bottom .navbar .navbar-nav  .nav-item .nav-link.active {
  color: var(--c-primary) !important;
}

/****** Header Bottom ******/

/*=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+ HEADER SECTION END =+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+*/

/*=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+ HOME BANNER SECTION END =+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+*/
.custom-banner .carousel-item img {
  height: 792px;
  object-fit: cover;
  object-position: 25%;
}
.custom-carousel-caption {
  background-color: rgba(255, 255, 255 , 0.6);
  left: 15px;
  width: 96%;
  text-align: left;
  padding: 85px 0 85px 95px;
  bottom: 136px;
}
.custom-banner .col-lg-6  {
  position: relative;
}
.custom-carousel-caption h2 {
  font-size: 67px;
  line-height: 88px;
  color: #232323;
}
.custom-carousel-caption p {
  font-size: 13px;
  font-family: var(--ff-secondary);
  text-transform: uppercase;
  color: var(--c-primary);
  letter-spacing: 2.6px;
  font-weight: 700;
  margin: 27px 0 53px;
}
/*=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+ HOME HEADER SECTION END =+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+*/







/*=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+ FOOTER SECTION START =+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+*/
.custom-footer {
  background-color: #f7f7f5;
  margin-top: 255px;
  position: relative;
  z-index: 9;
}
.custom-footer::before {
  position: absolute;
  content: '';
  width: 100%;
  height: 445px;
  background-image: url(../images/footer-top-captcha.png);
  background-size: cover;
  left: 0;
  right: 0;
  bottom: 257px;
  background-repeat: no-repeat;
  background-position: 100% 0%;
  z-index: -1;
}
.custom-footer .footer-main .footer-content .footer-logo {
  margin-bottom: 42px;
}
.custom-footer .footer-main .footer-content .footer-headings h5 {
  font-size: 20px;
  line-height: 55px;
}
.custom-footer .footer-main .footer-content li a .footer-contact-icon {
  margin-right: 10px !important;
  color: var(--c-primary);
}
.custom-footer .footer-main .footer-content li a .footer-contact-icon i {
  font-size: 14px;
}
.custom-footer .footer-main .footer-content .footer-contact li a p,
.custom-footer .footer-main .footer-content .footer-links li a,
.custom-footer .footer-main .footer-content .footer-text p {
  font-size: 14px;
  line-height: 34px;
  color: var(--c-primary-text);
}
.custom-footer .footer-main .footer-content .footer-socials {
  margin-top: 10px;
}
.custom-footer .footer-main .footer-content .footer-socials li {
  margin: 0 10px 0 0;
}

.custom-footer .footer-main .footer-content .footer-socials li  .footer-social-icon {
  display: flex;
  width: 40px;
  height: 40px;
  border: 1px solid var(--c-black-text);
  border-radius: 100%;
  align-items: center;
  color: var(--c-black-text);
  transition: all 0.5s ease-in-out;
}
.custom-footer .footer-main .footer-content .footer-socials li  .footer-social-icon:hover {
  border: 1px solid var(--c-blue-text);
  background-color: var(--c-black-text);
  color: var(--c-white);
}
.custom-footer .footer-main .footer-content .footer-text {
  margin-top: 16px;
}
.custom-footer .footer-main .footer-content .footer-text p  {
  line-height: 28px !important;
}

.custom-footer .footer-copyright .border-top {
  border-top: 1px solid #dcdcdc !important;
}
.custom-footer .footer-copyright p {
  font-size: 14px;
}
/*=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+ FOOTER SECTION END =+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+*/
