header.custom-header{
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99;
    nav.navbar{

        ul.navbar-nav{

            li{
                margin-left: 100px;
                &:first-child{
                    margin-left: 0;
                }
                a{
                    padding: 0;
                    color: var(--c-white);
                    font-weight:500;
                }
            }
        }
    }
}
@media (min-width: 992px) and (max-width: 1199.98px){
    header.custom-header{
        nav.navbar{
            ul.navbar-nav{
                li{margin-left: 40px;}
            }
        }
    }
}
@media (max-width: 991.98px){
    header.custom-header{
        nav.navbar{
            .navbar-header{
                button.navbar-toggler{
                    border-radius: 4px;
                }
            }

            ul.navbar-nav{
                background-color:var(--c-primary-dark);
                padding: 20px;
                border-radius: 10px;
                li{
                    margin-left: 0px;
                    margin-bottom: 10px;
                    padding-bottom: 10px;
                    border-bottom: 1px dashed #f1f1f1;
                    width: 100%;
                    &:last-child{
                        margin-bottom: 0;
                        padding-bottom: 0;
                        border: 0;
                    }
                }
            }
        }
    }
}
@media (max-width: 576px){
    header.custom-header{
        nav.navbar{
            a.navbar-brand{
                img{
                    width: 120px;
                }
            }
        }
    }
}
    